@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --secondary-text-color:#000000;
  --title-text-color: #212121;
  --accent-text-color:#FFFFFF;
  --link-text-color: rgba(255, 255, 255, 0.6);
  --primary-accent-color: #2196F3;
  --secondary-accent-color: #188CE8;
  --primary-background-color: #FFFFFF;
  --secondary-background-color: #F5F4FA;
  --hero-background-color:#C4C4C4;
  --footer-background-color: #2F303A;
  --header-border-color: #ECECEC;
  --project-border-color: #EEEEEE;
  --svg-primary-color: #AFB1B8;
  --footer-social-background-color:rgba(255, 255, 255, 0.1);
  --work-overlay-color:rgba(47, 48, 58, 0.8);
  --project-overlay-color: rgba(33, 150, 243, 0.9);
  --modal-backdrop-color:rgba(0, 0, 0, 0.2);
  --shadow-color: rgba(0, 0, 0, 0.15);
  --form-placeholder-color: rgba(117, 117, 117, 0.5);
  --form-border-color: rgba(33, 33, 33, 0.2);
  --btn-border-color: rgba(0, 0, 0, 0.1);
  --form-footer-border-color: rgba(255, 255, 255, 0.3);
  --project-card-set-gap: 30px;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  font-family: Roboto, sans-serif;
}

/* Глобальне скидання стилів по тегам*/
h1, h2, h3, h4, h5, h6, p, ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Логотип */
.logo {
  color: var(--primary-accent-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__accent {
  color: var(--secondary-text-color);
}

/* header */
.page-header {
  border-bottom: 1px solid var(--header-border-color);
}

.container--main-nav {
  display: flex;
  align-items: center;
}

.bloc-nav {
  display: flex;
}

.bloc-nav__logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.navigation {
  list-style: none;
  display: flex;
  margin-left: 93px;
}

.navigation__item:not(:first-child) {
  margin-left: 50px;
}

.navigation__link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--primary-accent-color);
}

.navigation__link--current {
  color: var(--primary-accent-color);
}

.navigation__link--current::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--primary-accent-color);
  position: absolute;
  left: 0;
  bottom: -1px;
}

.contact {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.contact__item:not(:first-child) {
  margin-left: 30px;
}

.contact__link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover, .contact__link:focus {
  color: var(--primary-accent-color);
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}

/* main Студія */
/* Секція "hero" */
.hero {
  background-color: var(--hero-background-color);
  text-align: center;
  padding: 200px 0;
}

.hero--overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Img-hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  color: var(--accent-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero__btn {
  color: var(--accent-text-color);
  background-color: var(--primary-accent-color);
  cursor: pointer;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  font-family: inherit;
  border-color: transparent;
  min-width: 216px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px var(--shadow-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover, .hero__btn:focus {
  background-color: var(--secondary-accent-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/* Секція "advantage" */
.advantage-list {
  list-style: none;
  display: flex;
}

.advantage-list__item {
  flex-basis: 270px;
}

.advantage-list__item:not(:first-child) {
  margin-left: 30px;
}

.advantage-list__icon {
  width: 270px;
  height: 120px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantage-list__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantage-list__descr {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Секція "work" */
.section--work {
  padding-top: 0;
}

.work-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.work-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.work-list__item:not(:first-child) {
  margin-left: 30px;
}

.work-list__box {
  position: relative;
}

.work-list__title {
  color: var(--accent-text-color);
  background-color: var(--work-overlay-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

/* Секція "team" */
.section--team {
  background-color: var(--secondary-background-color);
}

.team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.team-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.team-list__item {
  background-color: var(--primary-background-color);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list__item:not(:first-child) {
  margin-left: 30px;
}

.team-list__card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list__title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-list__descr {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

/* секція "team", блок --- social-list*/
.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.social-list__item {
  display: flex;
}

.social-list__item:not(:first-child) {
  margin-left: 10px;
}

.social-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--svg-primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  color: var(--accent-text-color);
  background-color: var(--primary-accent-color);
}

.social-list__icon {
  display: block;
  fill: currentColor;
}

/* Секція "clients" */
.clients-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.clients-list__item {
  display: flex;
}

.clients-list__item:not(:first-child) {
  margin-left: 30px;
}

.clients-list__link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--svg-primary-color);
  border-radius: 4px;
  color: var(--svg-primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  color: var(--primary-accent-color);
  border-color: var(--primary-accent-color);
}

.clients-list__icon {
  display: block;
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */